<div class="container">

  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.text_field :name, class:"form-control", placeholder: "Business Name" %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Name@Email.com" %>
    </div>

    <div class="form-group">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password ( #{@minimum_password_length} characters minimum)" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Re-enter password" %>
    </div>

    <div class="form-group">
      <%= f.text_field :contact, class:"form-control", placeholder: "Contact Person" %>
    </div>

    <div class="form-group">
      <%= f.text_field :phone, class:"form-control", placeholder: "02 1234 5678" %>
    </div>

    <div class="form-group">
      <%= f.text_field :address, class:"form-control", placeholder: "Name@Email.com" %>
    </div>

    <div class="form-group">
      <%= f.text_field :abn, class:"form-control", placeholder: "12 345 678 900" %>
    </div>

    <div class="form-group">
      <%= f.text_field :bio, class:"form-control", placeholder: "About Us" %>
    </div>

    <%= f.check_box :tos_status %>
    <%= f.label :tos_status, "I agree to the " %>
    <!-- Opens TOS page in new tab -->
    <%= link_to "Terms of Service", legal_tos_url , target:'_blank'%>
    <br>
    
    <div class="form-group">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>


    <button type="submit" class="btn btn-default">Sign up</button>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>

</div>
