<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
      <thead>
        <tr>
          <th>QTY</th>
          <th>Item</th>
          <th>Seller</th>
        </tr>
      </thead>
    <%= render(@order.line_items) %>

    <tr class="total_line">
      <td></td>
      <td colspan="2">Total</td>
      <td class="total_cell"><%= number_to_currency(@order.total_price) %></td>
    </tr>

  </table>

  <%= f.hidden_field :user_id, :value => user_session %>

<!-- change to if buyer.user.id -->
  <% if can? :update, @item %>
    <div class="field">
      <%= f.label :received %>
      <%= f.check_box :received %>
    </div>
  <% end %>

  <!-- change to if seller.user.id -->
  <% if can? :update, @item %>
    <div class="field">
      <%= f.label :shipped %>
      <%= f.check_box :shipped %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Place Order' %>
  </div>
  <%= link_to 'Back', :back %>
<% end %>
