<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Items</h1>


          <div class="input-group">
            <%= form_tag(root_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], type:"text", class: "form-control",placeholder: "Search Items or Item Origin" %>
            <span class="input-group-btn">
            <!-- <%= submit_tag "search" , class: "btn btn-default"%> -->
            <% end %>
            </span>
           </div>


      <!-- <%= form_tag(root_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
        <%= submit_tag "search" , class: "btn btn-default"%>
      <% end %> -->
      <br>

      <% if @items.present? %>
        <%= render 'store/items' %>
      <% else %>
        <p>There are no items matching <%= params[:search] %></p>
      <% end %>

      <% cache @items do %>  <!-- caching at store level -->
        <% @items.each do |item| %>
          <% cache item do %> <!-- caching at item level -->

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= link_to item.name, item %></h3>
              </div>

              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-12, center-block">
                    <% if item.item_image.url.present? %>
                      <%= image_tag item.item_image.url %>
                    <% end %>
                  </div>
                </div>

                <div class="row">
                  <%= item.description %>
                </div>

                <div class="row">
                  <%= link_to item.user.name, user_path(id: item.user_id) %>
                </div>
              </div>

              <div class="panel-footer">
                <div class="row">
                  <div class="col-md-6">
                    <%= number_to_currency(item.price) %>
                  </div>

                  <div class="col-md-6">
                    <!-- send request as AJAX -->
                    <%= button_to 'Add to Cart', line_items_path(item_id: item), remote:true, class: "btn btn-default" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div id="columns">
        <div id="side">
          <div id="cart">
            <%= render @cart %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
