
<p id="notice"><%= notice %></p>

<h1>Market</h1>

<% cache @items do %>  <!-- caching at store level -->
  <% @items.each do |item| %>
    <% cache item do %> <!-- caching at item level -->
      <div class="entry">
        <h3><%= item.name %></h3>
        <%= sanitize(item.description) %>
        <div class="price_line">
          <span class="price"><%= number_to_currency(item.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(item_id: item) %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
