<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>Market</h1>

      <%= form_tag(root_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Items" %>
      <%= submit_tag "search" %>
      <% end %>

      <% if @items.present? || @users.present? %>
        <%= render 'store/items' %>
      <% else %>
        <p>There are no items matching <%= params[:search] %></p>
      <% end %>


      <% cache @items do %>  <!-- caching at store level -->
        <% @items.each do |item| %>
          <% cache item do %> <!-- caching at item level -->
            <div class="item_image">
              <p>
                <% if item.item_image.thumb.url.present? %>
                <strong>Image:</strong>
                <%= image_tag item.item_image.thumb.url %>
                <% end %>
              </p>
            </div>

            <div class="entry">
              <h3><%= link_to item.name, item %></h3>
              <%= sanitize(item.description) %>

              <div class="Shop_name">
                <h3><%= link_to item.user.name, user_path(id: item.user_id) %></h3>
              </div>

              <div class="price_line">
                <span class="price"><%= number_to_currency(item.price) %></span>
                <!-- send request as AJAX -->
                <%= button_to 'Add to Cart', line_items_path(item_id: item), remote:true %>
              </div>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <div id="columns">
        <div id="side">
          <div id="cart">
            <%= render @cart %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
