<!DOCTYPE html>
<html>
  <head>
    <title>Market</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Market, the wholesale marketplace"/>
  <meta name="author" content="Chi Bui">
  <meta name="keyword" content="wholesale, food, produce, producer, providore, restaurant, grocer, farmer, grower, producer, supplier">
  </head>

  <body class='<%= controller.controller_name %>'>
    <%= render 'partials/navbar' %>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: "alert alert-#{name}" %>
    <% end %>

    <%= yield %>
    <%= render 'partials/footer' %>
    <!-- <%= debug(params) if Rails.env.development? %> -->

  </body>

</html>
